a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

th, .badge{
    font-weight: 400;
}

/* LAYOUT */
.webapp{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.app__main-content{
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.app__header,
.app__side-bar{
    overflow:visible;
}






/* MY STYLE */

.app__header{
    padding: 14px 0;
}

#logo-small{
    width: 50px;
    aspect-ratio: 1;
}

.search__bar{
    position: relative;
}

.search__bar .search__bar__icon{
    position: absolute;
    top: 5px;
    left: 18px;
    pointer-events: none;
}

.real__search__bar{
    background-color: #e5e5e5;
}

.header__nav{
    gap: 20px;
    color: #5B5858;
}

#notifications{
    color: #FF8F00;
}



.app__main .container-fluid,
.app__main .row{
    height: 100%;
}

.app__side-bar{
    width: 68px;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    color: white;
}

.side-bar__nav-items > a{
    display: flex;
    align-items: baseline;
    gap: 15px;
}





.app__main-content{
    padding-left: 0;
    
}

.app__main-content__top{
    background-color: #1B72E8;
    color: white;
}

.app__main-content__top .row > *{
    display: flex;
}

.app__main-content__top .row :nth-child(2),
.app__main-content__top .row :nth-child(3){
    flex-direction: column;
}

.add_student a{
    display: flex;
    gap: 18px;
}

.app__main-content__top .badge{
    background-color: rgba(0, 0, 0, 0.2);
}

.boolean .title,
.online_now{
    font-size: 26px;
    font-weight: 600;
}

.add_student i{
    font-size: 40px;
}

th, 
td{
    font-size: 13px;
    vertical-align: middle;
}

.code_icon{
    color: white;
    background-color: #F26551;
    font-size: 20px;
    padding: 2px 4px;
}

.row__title{
    display: flex;
    gap: 10px;
}

.table__actions{
    display: flex;
    gap: 8px;
    color: #6C757D;
}

.table__actions > *{
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid #6C757D;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
}

.accordion__questions,
.accordion__answers,
.form-check__text{
    font-size: 15px;
}












.app__main-content__cards .card{
    max-width: 98%;
}



/* HOVER */

.side-bar__nav-items:hover{
    background-color: rgba(255, 255, 255, 0.3);
}



/* MEDIA QUERY */


/* TABLET */
@media (min-width: 768px) {

}

/* DESKTOP*/
@media (min-width: 992px) {
    .app__side-bar{
        width: 150px;
    }
    .app__main-content__cards .row{
        margin-right: 110px;
    }
}

/* LARGE DESKTOP*/
@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}

/* DEBUG */

.debug [class^="col"]{
    border: 2px solid greenyellow;
}

.debug .app__main{
    background-color: aquamarine;
}